<% if flash[:notice] %>
  <p><%= flash[:notice] %></p>
<% end %>

<h1>Listando clientes</h1>

<%= link_to "Novo cliente", new_customer_path %>

<table>
  <thead>
    <tr>
      <td>Nome</td>
      <td>Email</td>
      <td>Telefone</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone %></td>
        <td><%= link_to 'Mostrar', customer_path(customer) %></td>
        <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
        <td><%= link_to 'Excluir', customer, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>